services:
  mcbot:
    build: .
    container_name: minecraft-discord-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    dns:
      - 8.8.8.8
      - 8.8.4.4
    network_mode: bridge
